*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.sai{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("a1.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 13%;
    border-radius: 40px;
    cursor: pointer;
}
nav button{
    margin: 0;
    outline: 0;
    background: #ab0a0a;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.down{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.down img{
    width: 10px;
    height: 8px;
    margin-left: 10px;
}
.raki{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.raki h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.raki h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
background: #fff;
border-radius: 5px;
display: flex;
align-items: center;
margin-top: 30px;
overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #ab0a0a;
    border: 0;
    outline: 0;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/*............ganga is features section...........*/


.ganga{
    padding: 50px 12%;
    font-size: 22px;
}
.devi{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.ma{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.baba{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.baba img{
    display: block;
    width: 90%;
    margin: auto;
}
.ganga h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom:20px ;
}
/*...........kumar........*/
.kumar{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.kumar h2{
    font-size: 20px;
    font-weight: 400;
}
.jai{
    
    margin: 80px 180px;
    width: 100%;
    max-width: 750px;
}
.jai li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.jai li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.jai .po1{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,paddingo.5s;
}
.jai input[type="radio"]:checked + label + .po1{
    max-height: 600px;
    padding: 30px 20px;
}
.jai input[type="radio"]:checked +  label::after{
    transform: rotate(135deg);
}
.email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}
small{
    font-size: 13px;
}
/*..........FOOTER.......*/
.footer{
    padding: 50px 15% 10px;
border-top: 6px solid #333;
color: #777;
 }
 .footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
 }
 .footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
 }
 .footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
 }
 .footer .devi{
    align-items: flex-start;
    padding: 10px 0;
 }
 .footer .down{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;

 }
 .sravan{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
 }
 /*........media queries for small screen.........*/
 @media only screen and (max-width: 600px){
  .logo{
    width: 100px;
  }
  nav button{
    padding: 5px 10px;
  }
  nav .down{
    padding: 4px 8px;
  }
  .raki{
    position:unset;
    transform: none;
    padding-top: 150px;
  }
  .raki h1{
    font-size: 30px;
  }
  .email-signup button{
    font-size: 12px;
    padding: 10px 15px;
  }
  .ma,.baba{
    flex-basis: 100%;
  }
  .ganga h2{
    font-size: 30px;
  }
  .ganga p{
    font-size: 15px;
  }
  .devi:nth-child(2),.devi:nth-child(4){
    flex-direction: column-reverse;
  }
  .ganga .devi{
    padding: 10px 0;
  }
  .kumar h2{
    font-size: 20px;
  }
  .jai .po1{
    font-size:14px ;
  }
  .jai li label{
    padding: 10px;
    font-size: 14px;
  }
  .jai{
    margin-left: 30px;
    padding-right: 40px;
  }
  label::after{
    font-size: 22px;
  }
 }